
@{
    ViewBag.Title = "OrderDetails";
}

<div class="col-lg-12">
    <div class="box box-info">
        <div class="box-body">
            <table class="table table-bordered table-condensed" id="tblOrderDetails">
                <thead>
                    <tr>
                        <th>Sno</th>
                        <th>Bill No</th>
                        <th>Customer Name</th>
                        <th>Customer Mobile</th>
                        <th>Billed Date</th>
                        <th>Total Purchase Amount</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    
</div>

